@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ingreso";
}
		<section class="cont s--inactive">
			<!-- cont inner start -->
				<div class="cont__inner">
					<!-- el start -->
						<div class="el">
							<div class="el__overflow">
								<div class="el__inner">
									<div class="el__bg"></div>
									<div class="el__preview-cont"></div>
									<div class="el__content">
										<div class="el__text">Empresa</div>
										<!-- /////form/////////form//////////////form///////////////////////////////////////////////////// -->
										<div class='containerr'>
											<div class='form'>
												<h2>Iniciar Secion</h2>
												<form>
													<div class='inputBox'>
														<input type='text' placeholder='Nombre de la Empresa'>
													</div>
													<div class='inputBox'>
														<input type='password' placeholder='Contraseña'>
													</div>
													<div class='inputBox'>
														<!-- <input type='submit' value='Login' class="button"> -->
													<button class="button"> Login </button>

													</div>
												</form>
												<div class="olv">
													<div class="gor">

														<p class='forget'>Olvidaste tu Contraseña? <a href='#'>Click Aqui</a></p>
													</div>
													<div class="gor2">
														<p class='forget'>No tienes una cuenta? <a href='#'>Registrate</a></p>

													</div>
												</div>
											</div>
										</div>
										<!-- /////fin form/////////////end form//////////////fin form/////////////end form.//////////////////////////////////// -->
										<div class="el__close-btn"></div>
									</div>	
								</div>
							</div>
				
							<div class="el__index">
								<div class="el__index-back">
									<h2 class="titulo">Empresa</h2>
									<p class="texto">Para Empresas o Personas que quieran postular una vacante</p>
								</div>	
							</div>
							
						</div>
						<!-- //////////la otra card//////////////la otra card//////////////////la otra card///////////////////////////////////////////////////////////////////////////////// -->
						<div class="el">
							<div class="el__overflow">
								<div class="el__inner">
									<div class="el__bg"></div>
									<div class="el__preview-cont"></div>
									<div class="el__content">
										<div class="el__text">Persona</div>
										<!-- /////form/////////form//////////////form///////////////////////////////////////////////////// -->
										<div class='containerr'>
											<div class='form'>
												<h2>Iniciar Secion</h2>
												<form>
													<div class='inputBox'>
														<input type='text' placeholder='Nombre de la Persona'>
													</div>
													<div class='inputBox'>
														<input type='password' placeholder='Contraseña'>
													</div>
													<div class='inputBox'>
														<!-- <input type='submit' value='Login' class="button"> -->
													<button class="button"> Login </button>

													</div>
												</form>
												<div class="olv">
													<div class="gor">
														<p class='forget'>Olvidaste tu Contraseña? <a href='#'>Click Aqui</a></p>
													</div>
													<div class="gor2">
														<p class='forget'>No tienes una cuenta? <a href='#'>Registrate</a></p>
													</div>
												</div>
											</div>
										</div>
										<!-- /////fin form/////////////end form//////////////fin form/////////////end form.//////////////////////////////////// -->
										<div class="el__close-btn"></div>
										
									</div>
								</div>
							</div>
							<div class="el__index">
								<div class="el__index-back2">
									<h2 class="titulo2">Persona</h2>
									<p class="texto2">Para Personas que quieran postularce a una vacante</p>
								</div>
							</div>
				
						</div>
					<!-- el end -->	
				</div>
			<!-- cont inner end -->
		</section>
		<div class="box2">
		
			<h2 class="text1"> Work NetWork </h2>
			<h2 class="text2"> Quienes somos? </h2>
			<h4 class="text3">Work NetWork es un portal de empleo dedicada a aquellas personas en busca de trabajo y para aquellas empresas que buscan empleados.......</h4>
			<img src="./css/imagen5.svg" alt="imagen4" class="logo3" height="300px" width="400px">
		
		</div>
		<div class="box3">
			<h2 class="text4"> Nuestra Mision </h2>
			<!-- <h2 class="text5"> Quienes somos? </h2> -->
			<h4 class="text6">Comprometidos con la sociedad y valorando el trabajo ..............</h4>
			<!-- <img src="imagen5.svg" alt="imagen4" class="logo3" height="300px" width="400px"> -->
		</div>



		@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
	<script src="~/js/ingreso.js"></script>
}
