<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		 <title>@ViewData["Ingreso"] - Ingreso</title>

		<link rel="stylesheet" href="~/css/Ingreso.css"/>
	</head>
	<body>
		<section class="cont s--inactive">
			<!-- cont inner start -->
				<div class="cont__inner">
					<!-- el start -->
						<div class="el">
							<div class="el__overflow">
								<div class="el__inner">
									<div class="el__bg"></div>
									<div class="el__preview-cont"></div>
									<div class="el__content">
										<div class="el__text">Empresa</div>
										<!-- /////form/////////form//////////////form///////////////////////////////////////////////////// -->
										<div class='containerr'>
											<div class='form'>
												<h2>Iniciar Sesión</h2>
												<form method="post" id='loginEmpresa'>
													<div class='inputBox'>
														<input type='text' placeholder='Correo electronico de la empresa' id='correoEmpresa'>
														<div asp-validation-summary="ModelOnly" class="text-danger"></div>

													</div>
													<div class='inputBox'>
														<input type='password' placeholder='Contraseña' id='passwordEmpresa'>
													</div>

													<div class='inputBox'>
														<!-- <input type='submit' value='Login' class="button"> -->
													<button class="button" onclick=loginEmpresa() id="login-submit-empresa" asp-page="/Account/LoginEmpresa"> Login </button>

													</div>
												</form>
												<div class="olv">
													<div class="gor">

														<p class='forget' >¿Olvidaste tu Contraseña? <a asp-page="/Account/ForgotPassword">Click Aquí</a></p>
													</div>
													<div class="gor2">
														<p class='forget'>¿No tienes una cuenta? <a asp-area="Identity" asp-page="/Account/Register">Registrate</a></p>

													</div>
												</div>
											</div>
										</div>
										<!-- /////fin form/////////////end form//////////////fin form/////////////end form.//////////////////////////////////// -->
										<div class="el__close-btn"></div>
									</div>	
								</div>
							</div>
				
							<div class="el__index">
								<div class="el__index-back">
									<h2 class="titulo">Empresa</h2>
									<p class="texto">Para Empresas o Personas que quieran postular una vacante</p>
								</div>	
							</div>
							
						</div>


						<!-- //////////la otra card//////////////la otra card//////////////////la otra card///////////////////////////////////////////////////////////////////////////////// -->
						<div class="el">
							<div class="el__overflow">
								<div class="el__inner">
									<div class="el__bg"></div>
									<div class="el__preview-cont"></div>
									<div class="el__content">
										<div class="el__text">Persona</div>
										<!-- /////form/////////form//////////////form///////////////////////////////////////////////////// -->
										<div class='containerr'>
											<div class='form'>
												<h2>Iniciar Sesiòn</h2>
												<form>
													<div class='inputBox'>
														<input type='text' placeholder='Nombre de la Persona'>
													</div>
													<div class='inputBox'>
														<input type='password' placeholder='Contraseña'>
													</div>
													<div class='inputBox'>
														<!-- <input type='submit' value='Login' class="button"> -->
													<button class="button" asp-area="Identity" asp-page="/Account/Login"> Login </button>

													</div>
												</form>
												<div class="olv">
													<div class="gor">
														<p class='forget'>¿Olvidaste tu Contraseña? <a href='/Account/ForgotPassword'>Click Aquí</a></p>
													</div>
													<div class="gor2">
														<p class='forget'>¿No tienes una cuenta? <a asp-area="Identity" asp-page="/Account/Register">Registrate</a></p>
													</div>
												</div>
											</div>
										</div>
										<!-- /////fin form/////////////end form//////////////fin form/////////////end form.//////////////////////////////////// -->
										<div class="el__close-btn"></div>
										
									</div>
								</div>
							</div>
							<div class="el__index">
								<div class="el__index-back2">
									<h2 class="titulo2">Persona</h2>
									<p class="texto2">Para Personas que quieran postularce a una vacante</p>
								</div>
							</div>
				
						</div>
					<!-- el end -->	
				</div>
			<!-- cont inner end -->
		</section>
		<div class="box2">
		
			<h2 class="text1"> Work NetWork </h2>
			<h2 class="text2"> Quienes somos? </h2>
			<h4 class="text3">Work NetWork es un portal de empleo dedicada a aquellas personas en busca de trabajo y para aquellas empresas que buscan empleados</h4>
			<img src="/css/imagen5.svg" alt="imagen4" class="logo3" height="300px" width="400px">
		
		</div>
		<div class="box3">
			<h2 class="text4"> Nuestra Mision </h2>
			<h4 class="text5">Comprometidos con la sociedad y valorando el trabajo</h4>
		</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
    </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script src="~/js/ingreso.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
	<script src="~/js/GestionDeUsuarios.js"></script>
	</body>
</html>
