
@model IEnumerable<WorkNetwork.Models.Pais>

@{
    ViewData["Title"] = "Pais";
}

<h1>Pais</h1>

    <input type="text" id="Nombre" placeholder="Nombre pais"/>
    <button class="btn btn-primary" type="submit" onclick="CrearPais()">Crear</button>

@section Scripts {
    <script src="~/js/Paises.js"></script>
}
