@model IEnumerable<WorkNetwork.Models.Persona>

@{
    ViewData["Title"] = "Personas";
}

<h1>Personas</h1>

<button type="button" class='btn btn-primary mb-3' onclick='AbrirModal(modalCrearPersona)'>Crear Persona</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombrePersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidoPersona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id='tbody-personas'>

    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalCrearPersona" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titulo-modal-rubro">Crear persona</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div>
            @*<div class="alert alert-danger "id='alertRubro'>El campo descripcion no puede estar vacio</div> *@
            <input type= "hidden" id='idPersona'/>
            <input placeholder="Ingrese su nombre" type="text" id="nombrePersona" class="form-control"/>
            <input placeholder="Ingrese su apellido " type="text" id="apellidoPersona" class="form-control"/>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" onclick='GuardarPersona()'>Crear</button>
        <button type="button" class="btn btn-outline-danger" onclick='VaciarFormulario()' data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

@section Scripts {
<script src="~/js/Personas.js"></script>
<script>
window.onload = CompletarTablaPersonas();
</script>
}
