@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* user-select: none; */
}

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Rubik', sans-serif;
    --font-serif: 'Cardo', serif;
}

body {
    background: #ecf0f3;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.cont {
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding: 25px 25px 25px 25px;
    width: 98%;
    /* border-radius: 150px; */
}

.cont__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

    .cont__inner:hover .el__bg:after {
        opacity: 1;
    }

.el {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #252525;
    border-radius: 20px;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
    will-change: transform, width, opacity;
}

    .el:not(.s--active) {
        cursor: pointer;
    }

.el__overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.el__inner {
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: transform 1s;
}

.cont.s--inactive .el__inner {
    transform: translate3d(0, 100%, 0);
}

.el__bg {
    position: relative;
    /* width: calc(100vw - 140px); */
    width: 100%;
    height: 100%;
    transition: transform 0.6s 0.7s;
    will-change: transform;
}

    .el__bg:before {
        content: '';
        position: absolute;
        left: 0;
        top: -5%;
        width: 100%;
        height: 110%;
        /* background-size: cover;
	background-position: center center; */
        transition: transform 1s;
        transform: translate3d(0, 0, 0) scale(1);
    }

.cont.s--inactive .el__bg:before {
    transform: translate3d(0, -100%, 0) scale(1.2);
}

.el.s--active .el__bg:before {
    transition: transform 0.8s;
}

.el__bg:after {
    content: '';
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 110%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s;
}

.cont.s--el-active .el__bg:after {
    transition: opacity 0.3s 1.4s;
    opacity: 1 !important;
}

.el__preview-cont {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s 1.2s;
    border-radius: 100%;
}

.cont.s--inactive .el__preview-cont {
    opacity: 0;
    transform: translateY(0px);
    transition: all 0.5s;
}

.cont.s--el-active .el__preview-cont {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}

.el__content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;
    padding: 15px 25px 25px 25px;
}

.el.s--active .el__content {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s 1.4s;
}

.el__text {
    text-transform: uppercase;
    font-size: 204%;
    color: #fff;
    padding-bottom: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    /* justify-content: center; */
    text-align: center;
}

.el__close-btn {
    z-index: -1;
    position: absolute;
    right: 22px;
    top: 12px;
    width: 50px;
    height: 50px;
    opacity: 0;
    pointer-events: none;
    transition: all 0s 0.45s;
    cursor: pointer;
}

.el.s--active .el__close-btn {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transition: all 0s 1.4s;
}

.el__close-btn:before,
.el__close-btn:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background: #fff;
    opacity: 0;
    transition: opacity 0s;
}

.el.s--active .el__close-btn:before,
.el.s--active .el__close-btn:after {
    opacity: 1;
}

.el__close-btn:before {
    transform: rotate(45deg) translateX(100%);
}

.el.s--active .el__close-btn:before {
    transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(45deg) translateX(0);
}

.el__close-btn:after {
    transform: rotate(-45deg) translateX(100%);
}

.el.s--active .el__close-btn:after {
    transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(-45deg) translateX(0);
}

.el__index {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    min-height: 250px;
    /* text-align: center;
	font-size: 3.3rem;
	line-height: 0.85;
	font-weight: bold; */
    transition: transform 0.5s, opacity 0.3s 1.4s;
    transform: translate3d(0, 1vw, 0);
}

.el:hover .el__index {
    transform: translate3d(0, 0, 0);
}

.cont.s--el-active .el__index {
    transition: transform 0.5s, opacity 0.3s;
    opacity: 0;
}

.el__index-back,
.el__index-back2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    /* transition: transform var(--d) var(--e); */
    transform: translateY(calc(100% - 4.5rem));
    z-index: 1;
    /* transition: transform 0.5s; */
}

.titulo {
    text-align: center;
    /* font-size: 3.3rem; */
    line-height: 0.85;
    font-weight: bold;
    color: rgb(27, 165, 175);
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 800;
}

.texto {
    display: flex;
    position: relative;
    font-size: 25px;
    top: 50px;
    text-align: center;
    /* font-size: 3.3rem; */
    line-height: 0.85;
    font-weight: bold;
    color: rgb(27, 165, 175);
    text-transform: uppercase;
    /* font-size: 50px; */
    letter-spacing: 4px;
    /* font-weight: 800; */
    align-items: center;
    justify-content: center;
    align-content: center;
}

.titulo2 {
    text-align: center;
    /* font-size: 3.3rem; */
    line-height: 0.85;
    font-weight: bold;
    color: rgb(90, 211, 54);
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 800;
}

.texto2 {
    display: flex;
    position: relative;
    font-size: 25px;
    top: 50px;
    text-align: center;
    /* font-size: 3.3rem; */
    line-height: 0.85;
    font-weight: bold;
    color: rgb(90, 211, 54);
    text-transform: uppercase;
    /* font-size: 50px; */
    letter-spacing: 4px;
    /* font-weight: 800; */
    align-items: center;
    justify-content: center;
    align-content: center;
}

.el__index-back {
    display: flex;
    position: relative;
    top: 25%;
    opacity: 0;
    transition: opacity 0.25s 0.25s;
}

.el__index-back2 {
    display: flex;
    position: relative;
    top: 25%;
    opacity: 0;
    transition: opacity 0.25s 0.25s;
}

.el:hover .el__index-back2 {
    transition: opacity 0.25s;
    opacity: 1;
}

.el:hover .el__index-back {
    transition: opacity 0.25s;
    opacity: 1;
}

.el:nth-child(1) {
    transform: translate3d(0%, 0, 0);
    transform-origin: 50% 50%;
}

.cont.s--el-active .el:nth-child(1):not(.s--active) {
    transform: scale(0.5) translate3d(0%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}

.el:nth-child(1) .el__inner {
    transition-delay: 0s;
}

.el:nth-child(1) .el__bg {
    transform: translate3d(0%, 0, 0);
}

    .el:nth-child(1) .el__bg:before {
        transition-delay: 0.1s;
        background: url(muchostipitos.svg) center center / 500px 500px no-repeat;
    }

.el:nth-child(2) {
    transform: translate3d(105.2083333333%, 0, 0);
    transform-origin: 155.2083333333% 50%;
}

.cont.s--el-active .el:nth-child(2):not(.s--active) {
    transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}

.el:nth-child(2) .el__inner {
    transition-delay: 0.1s;
}

.el:nth-child(2) .el__bg {
    transform: translate3d(0%, 0, 0);
}

    .el:nth-child(2) .el__bg:before {
        transition-delay: 0.1s;
        background: url(undraw_ask_me_anything_re_x7pm.svg) center center / 500px 500px no-repeat;
    }

/* .el:nth-child(5) .el__bg:before {
	transition-delay: 0.4s;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-7.jpg');
} */
.el:hover .el__bg:after {
    opacity: 0;
}

.el.s--active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 90%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
}

    .el.s--active .el__bg {
        transform: translate3d(0, 0, 0);
        transition: transform 0.6s;
    }

        .el.s--active .el__bg:before {
            transition-delay: 0.6s;
            transform: scale(1.2);
        }

/*@media screen and (max-width: 1114px) {*/
 /*   .main12 {
        transform: scale(0.5);
    }*/
    /*.container12{
       width: 771px!important;
    }
    .switch {
        width: 332px!important;
    }*/
  /*  .form12{
        width:auto;
    }*/
/*}*/

@media all and (max-width: 1320px) and (min-width: 1114px) {
 
    .a-container{
        width: 771px!important;
    }
/*    .b-container {
        left: calc(-15% - 100px) !important;
        z-index:0;
    }*/
    .switch {
        width: 332px !important;
    }
    .is-txr {
        width: 341px !important;
        left: calc(108% - 400px) !important;
    }
    .form13{
        left:-18%!important;
    }
    .form13 .form__input{
        width:52%!important;
    }
    .form12 .form__input {
        width: 45%!important;
    }
  
}

@media all and (max-width: 1114px) and (min-width: 1050px) {

    .a-container {
        width: 163% !important;
        /*width: calc(80% - 200px);*/
        /*transform: scale(0.3);*/
    }

    .switch {
        width: 303px !important;
    }
    .form__input {
        width: 26% !important;
    }
    .form12 {
        left: calc(-15% - 100px) !important;
    }
    .form13 {
        left: -19% !important;
    }
    .form13 .form__input {
        width: 51% !important;
    }

    .is-txr {
        width: 325px !important;
        left: calc(111% - 400px) !important;
    }
}

/*@media all and (max-width: 1050px) and (min-width: 920px) {
    .a-container {
        width: 163% !important;*/
        /*width: calc(80% - 200px);*/
        /*transform: scale(0.3);*/
    /*}

    .switch {
        width: 303px !important;
    }

    .form__input {
        width: 26% !important;
    }

    .form12 {
        left: calc(-15% - 100px) !important;
    }

    .form13 {
        left: -19% !important;
    }

        .form13 .form__input {
            width: 51% !important;
        }

    .is-txr {
        width: 325px !important;
        left: calc(111% - 400px) !important;
    }
}*/


    /* ///////////////////Form////////////////Form ///////////////////Form//////////orm/////////////////////////////////////// */

    .main12 {
        position: relative;
        width: 84%;
        min-height: 82%;
        padding: 25px;
        background-color: #ecf0f3;
        position: relative;
        left: 8%;
        border-radius: 12px;
        overflow: hidden;
        /* box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);  */
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }


    .container12 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 600px;
        height: 70vh;
        padding: 25px;
        background-color: #ecf0f3;
        transition: 1.25s;
    }

    .container13 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 600px;
        height: 70vh;
        padding: 25px;
        background-color: #ecf0f3;
        transition: 1.25s;
    }

    .form12 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        top: -20px;
        left: -77px;
    }

    .form13 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        top: -20px;
        left: -77px;
    }

    .form__icon {
        object-fit: contain;
        width: 30px;
        margin: 0 5px;
        opacity: 0.5;
        transition: 0.15s;
    }

        .form__icon:hover {
            opacity: 1;
            transition: 0.15s;
            cursor: pointer;
        }

    .form__input {
        width: 350px;
        height: 40px;
        margin: 4px 0;
        padding-left: 25px;
        font-size: 80%;
        letter-spacing: 0.15px;
        border: none;
        outline: none;
        background-color: #ecf0f3;
        transition: 0.25s ease;
        border-radius: 8px;
        box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
    }

        .form__input:focus {
            box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
        }

    .form__span {
        margin-top: 30px;
        margin-bottom: 12px;
    }

    .form__link {
        color: #181818;
        font-size: 15px;
        margin-top: 25px;
        border-bottom: 1px solid #a0a5a8;
        line-height: 2;
    }

    .title12 {
        font-size: 165%;
        font-weight: 700;
        line-height: 3;
        color: #181818;
    }

    .description12 {
        font-size: 14px;
        letter-spacing: 0.25px;
        text-align: center;
        line-height: 1.6;
        margin-bottom: 10%;
    }

    .button12 {
        padding: 1.3em 3em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        position: relative;
        top: 5%;
    }

        .button12:hover {
            background-color: #23c483;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-7px);
        }

        .button12:active {
            transform: translateY(-1px);
        }

    .a-container {
        z-index: 100;
        left: calc(112% - 600px);
    }

    .b-container {
        left: calc(118% - 600px);
        z-index: 0;
    }

    .switch {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 400px;
        padding: 50px;
        z-index: 200;
        transition: 1.25s;
        background-color: #ecf0f3;
        overflow: hidden;
        box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    }

    .switch__circle {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background-color: #ecf0f3;
        box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
        bottom: -60%;
        left: -60%;
        transition: 1.25s;
    }

    .switch__circle--t {
        top: -30%;
        left: 60%;
        width: 300px;
        height: 300px;
    }

    .switch__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        width: 400px;
        padding: 50px 55px;
        transition: 1.25s;
    }

    .is-txr {
        left: calc(100% - 400px);
        transition: 1.25s;
        transform-origin: left;
    }

    .is-txl {
        left: 0;
        transition: 1.25s;
        transform-origin: right;
    }

    .is-z200 {
        z-index: 200;
        transition: 1.25s;
    }

    .is-hidden {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: 0.25s;
    }

    .is-gx {
        animation: is-gx 1.25s;
    }

    @keyframes is-gx {
        0%, 10%, 100% {
            width: 400px;
        }

        30%, 50% {
            width: 500px;
        }
    }


    /* /////////////box//////////////////////box////////////////box//////////////////////////////////////////////////// */

    .box2 {
        /* display: flex; */
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 100px;
        /* background: #f3f6fd; */
        /*    background: #fefffe;
    background: -webkit-linear-gradient(0deg, #fefffe 0%, #1f1f1f 100%);
    background: linear-gradient(0deg, #fefffe 0%, #1f1f1f 100%);*/
        background: -webkit-linear-gradient(225deg, hsla(0, 7%, 86%, 1) 18%, hsla(173, 74%, 30%, 1) 100%);
    }

        .box2 h2 {
            font-size: 3em;
            color: #fff;
        }

    .box3 {
        /* display: flex; */
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 100px;
        /* background: #255fe6; */
        background: #255fe6;
        background: -webkit-linear-gradient(0deg, #255fe6 0%, #fefffe 100%);
        background: linear-gradient(0deg, #255fe6 0%, #fefffe 100%);
    }

        .box3 h2 {
            font-size: 3em;
            color: #000;
        }
    /* ////////////////////////////form form fomr ////////////////////////////////////// */


    .spinner {
        --clr: rgb(0, 113, 128);
        --gap: 6px;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap);
        position: relative;
        bottom: 5%;
    }

        .spinner span {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: var(--clr);
            opacity: 0;
        }

            .spinner span:nth-child(1) {
                animation: fade 1s ease-in-out infinite;
            }

            .spinner span:nth-child(2) {
                animation: fade 1s ease-in-out 0.33s infinite;
            }

            .spinner span:nth-child(3) {
                animation: fade 1s ease-in-out 0.66s infinite;
            }

    @keyframes fade {
        0%, 100% {
            opacity: 1;
        }

        60% {
            opacity: 0;
        }
    }