html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*clases de las cards*/
.main-card .cards .card {
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
}

    .main-card .cards .card:hover {
        transform: translateY(-15px);
    }
.cards .card .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .cards .card .content .img {
        height: 130px;
        width: 130px;
        border-radius: 50%;
        padding: 3px;
        background: #ff676d;
        margin-bottom: 14px;
    }

.card .content .img img {
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
}

.card .content .name {
    font-size: 20px;
    font-weight: 500;
}

.card .content .job {
    font-size: 20px;
    color: #ff676d;
}

.card .content .media-icons {
    margin-top: 10px;
    display: flex;
}
#cards{


display: flex;
flex-wrap: wrap;
align-content: flex-start;
align-items: center;
justify-content: space-around;
}


.media-icons a {
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid transparent;
    background: #ff676d;
    transition: all 0.3s ease;
}

    .media-icons a:hover {
        color: #ff676d;
        background-color: #fff;
        border-color: #ff676d;
    }

/*fin clases de las cards*/