@model IEnumerable<WorkNetwork.Models.Empresa>

@{
    ViewData["Title"] = "Nueva Empresa";
}

<h1>Registrar persona</h1>

<form class="form-control" id='registrarEmpresa' enctype='multipart/form-data'>
    @*<div class="alert alert-danger "id='alertRubro'>El campo descripcion no puede estar vacio</div> *@
    <input type="hidden" id='idEmpresa' name="empresaID" value=0 />
    <input placeholder="Ingrese una empresa" type="text" name="empresaNombre" id="nombreEmpresa" class="form-control mb-3" />
    <input placeholder="CUIT" type="number" id="cuitEmpresa" name="empresaCuit" class='form-control mb-3' />
    <input placeholder="Ingrese un correo" type="email" id="correoEmpresa" name="empresaCorreo" class='form-control mb-3' />
    <div>
        <label class="control-label"><b> Paises: </b></label>
        @Html.DropDownList("PaisID", null, htmlAttributes: new {@class = "form-control mb-3"})
    </div>
    <div>
        <label class="control-label"><b> Provincias: </b></label>
        @Html.DropDownList("ProvinciaID", null, htmlAttributes: new {@class = "form-control mb-3"})
    </div>
    <div>
        <label class="control-label"><b> Localidades: </b></label>
        @Html.DropDownList("LocalidadID", null, htmlAttributes: new {@class = "form-control mb-3"})
    </div>
    <input placeholder='Ingrese su numero de telefono' type='tel' id="telefono1Empresa" name="empresaTelefono1" class='form-control mb-3' />
    <input placeholder='Ingrese un numero de telefono alternativo' type='tel' id="telefono2Empresa" name="empresaTelefono2"
        class='form-control mb-3' />
    <div>
        <label class="control-label"><b> Rubros: </b></label>
        @Html.DropDownList("RubroID", null, htmlAttributes: new {@class = "form-control mb-3"})
    </div>
    <div>
        <label class="control-label"><b> Tipo de empresa: </b></label>
        <select id='tipoEmpresa' class="form-control mb-3" name="tipoEmpresa">
            <option>Seleccione un campo</option>
            <option value=0>Unipersonal</option>
            <option value=1>Empresa</option>
        </select>
    </div>
    <div class="input-group mb-3">
        <input type="file" name="empresaFoto" class="form-control" id="fotoPerfilEmpresa" aria-describedby="inputGroupFileAddon04"
            aria-label="Upload">
    </div>

    <button class="btn btn-primary" onclick="guardarEmpresa()">Guardar empresa</button>
</form>

@section Scripts {
    <script src="~/js/Empresas.js"></script>
}