@model IEnumerable<WorkNetwork.Models.Persona>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
	<div class=" d-flex justify-content-around">
			<div class="main-card">
				<div class="cards d-flex justify-content-between" id='cards'>
				</div>
			</div>
	</div>

@section Scripts {
<script src="~/js/Personas.js"></script>
<script>
window.onload = CompletarTablaPersonas();
</script>
}