@model IEnumerable<WorkNetwork.Models.Persona>
@{
    ViewData["Title"] = "Home Page";
}

	
			<div class="main-card">
				<div class="cards" id='cards'>
				</div>
			</div>
	

@section Scripts {
<script src="~/js/Personas.js"></script>
<script>
window.onload = CompletarTablaPersonas();
</script>
}