@model IEnumerable<WorkNetwork.Models.Provincia>

@{
    ViewData["Title"] = "Provincia";
}

<h1>Provincia</h1>

    <input type="text" id="Nombre" placeholder="Nombre provincia"/>
    @Html.DropDownList("idPais", null, htmlAttributes: new {@class = "form-control"})
    <button class="btn btn-primary" type="submit" onclick="CrearProvincia()">Crear</button>

@section Scripts {
    <script src="~/js/Provincias.js"></script>
}
